[Unit]
Description=Jellyfin Auto-Discovery Responder
After=network.target

[Service]
Type=simple
# Optional, bind only to the specified IP
#Environment=FINDFIN_BIND_ADDR=0.0.0.0
Environment=FINDFIN_SERVER_URL=http://jellyfin.local:8096
# Optional, sets the announces server url, otherwise will use the url above
#Environment=FINDFIN_ANNOUNCE_URL=https://jellyfin.example.com
ExecStart=/usr/local/bin/findfin

[Install]
WantedBy=multi-user.target
